*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.main-container{
    width: 100%;
    background-color: #ffffff;
}

.home{
   width:100%;
   height:100vh;
}
#nav{
    padding: 15px;
    display: flex;
    justify-content:space-between;
    text-transform: uppercase;
}

#nav a{
    text-decoration: none;
    color:black;
    font-size: larger;
    padding-right:100px;
}

.content{
    width: 100%;
    height:100vh;
    /* background-color: aqua; */
    padding: 50px
}

#god{
  display: flex;
  height:fit-content;
  justify-content: space-between;
  align-content: center;
}

#leftsection  {
    justify-content: center;
    padding:6vw;
    line-height: 1;
}

#leftsection h4{
    font-weight: lighter;
    opacity: 0.7;
    padding:8px 0px
}

#leftsection p {
    font-size: 20px;
    padding-top: 20px;
    font-weight: lighter;
    opacity: 0.7;
    
}
#rightsection{
    width:100%
}

#rightsection img{
    padding:50px;
    width:50vw;
    border-radius: 500px;
    height: 35vw;
    object-fit: cover;
}

.button {
  margin-top: 30px;
}

.button button {
  padding: 8px 16px;
  text-transform: uppercase;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  border-radius: 500px;
  cursor: pointer;
  font-size: 17px;
} 

.footer{
   
    width:100%;
    height: 4vw;
    padding: 15px;
    display:flex;
    justify-content: space-between; 
}
#social {
    display:flex;
    padding-right: 50px;
    gap: 100px;
    size: 50px;
}
#social a {
    
    text-decoration: none;
    color:black;
}